<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TKS time</title>
</head>
<body>

Without date formatting: {{.}}

With date formatting: {{fdateMDY .}}

Kitchen time bruh: {{kitchenTimeByTrev .}}

Func Maps 4 the win


</body>